
@model FilmsLib.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Вхід";
}

<div class="flex-column justify-content-center align-content-center">
    <h1 class="text-center display-4 mt-2">
        <i class="fas fa-film"></i>
    </h1>
    <div class="row justify-content-center align-content-center">
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="auth-form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email"></label><br />
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br />
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe">Запам'ятай мене</label>
            </div>
            <div class="auth-btn">
                <button type="submit" class="btn btn-dark mt-4 btn-block">
                    Увійти
                </button>
            </div>
            <div class="row justify-content-center mt-2">
                <a asp-area="" asp-controller="Account" asp-action="Register">Створити акаунт</a>
            </div>
        </form>
    </div>
</div>



